<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
		<!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>
	<typeHandlers>
		<typeHandler javaType="java.lang.Boolean" jdbcType="CHAR" handler="com.xquant.common.handler.BooleanTypeHandlerCallback" />
		<!--<typeHandler javaType="java.lang.String" jdbcType="CLOB" handler="com.xquant.common.handler.OracleClobTypeHandlerCallback" />-->
	</typeHandlers>
    <plugins>
		<!--分页插件-->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect" value="oracle"></property>
		</plugin>
	</plugins>
</configuration>
